Pandas

Series

In [ ]:
import pandas as pd
numeros = pd.Series([3,4,7,8,9,5,3,3,5,None])
numeros[4]

In [ ]:
edades = pd.Series({'Ana': 25, 'Jorge': 44, 'Juan': 24})
#edades['Ana']
edades[2]

In [ ]:
#numeros.size
#numeros.index
#numeros.dtype

In [ ]:
seleccion = numeros[1:4]
type(seleccion)

In [ ]:
#numeros.count()
#numeros.sum()
#numeros.cumsum()
#numeros.value_counts()
#numeros.min()
#numeros.max()

In [ ]:
#numeros.mean()
#numeros.describe()
numeros ** 2

In [ ]:
#numeros.apply(lambda x: x**2)
#numeros[[True,False,True,False,True,True,True,True,False]]

In [ ]:
sin_nones = numeros.dropna()
sin_nones

In [ ]:
datos = dict(nombre=['Angel', 'María'], edad=[25,33])
df = pd.DataFrame(datos)
df

Dataframes

In [ ]:
df = pd.read_csv(r'C:\Users\gonza\Documents\Trabajo\Henry\Data Science\DS-M1\Clase 04\colesterol.csv', sep=';', decimal=',')
df

In [ ]:
df.to_csv('colesterol.csv')

In [ ]:
#df.info()
#df.shape
df.head(6)

In [ ]:
#df['edad']#Columna
df['edad'] * 10
#df.loc[2]#Fila

In [ ]:
#del df['peso']
df.drop(3)
df.head()

In [ ]:
df[(df['sexo']=='H') & (df['edad'] > 25)]

In [ ]:
df

In [ ]:
df.iloc[[1,2,3],[0,2]]

In [ ]:
df.describe()

In [92]:
df

                             nombre  edad sexo  altura  colesterol
0      José Luis Martínez Izquierdo    18    H    1.79       182.0
1                    Rosa Díaz Díaz    32    M    1.73       232.0
2             Javier García Sánchez    24    H    1.81       191.0
3               Carmen López Pinzón    35    M    1.70       200.0
4              Marisa López Collado    46    M    1.58       148.0
5                 Antonio Ruiz Cruz    68    H    1.74       249.0
6           Antonio Fernández Ocaña    51    H    1.72       276.0
7             Pilar Martín González    22    M    1.66         NaN
8              Pedro Gálvez Tenorio    35    H    1.94       241.0
9           Santiago Reillo Manzano    46    H    1.85       280.0
10            Macarena Álvarez Luna    53    M    1.62       262.0
11       José María de la Guía Sanz    58    H    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H    1.98       210.0
13            Carolina Rubio Moreno    20    M    1.77       194.0

In [93]:
#df.groupby(['sexo']).groups
pd.DataFrame(df.groupby('sexo')['altura'])

   0                                                  1
0  H  0     1.79
2     1.81
5     1.74
6     1.72
8 ...
1  M  1     1.73
3     1.70
4     1.58
7     1.66
10...